p {
    font-family: the brooklyn;
    color: #434343;
}

.bg_überschrift {
    float:left;
    width: 18em;
    height: 3em;
    opacity: 1;
    background: #FCCA45;
    position: absolute;
    top: 1em;
    left: 3em;
}

.bg_überschrift p {
    position: relative;
    left: 1em;
    font-size: 1.5em;
    font-family: the brooklyn;
    font-weight: lighter;
}

#beschreibung {
    position: absolute;
    height: 15em;
    width: 26em;
    top: 8em;
    left: 10em;
}

.bg_ankreuzen {
    position: absolute;
    width: 22.3em;
    height: 6em;
    background: #FECB6F;
    top: 22em;
    left: 8.2em;
}

#ja_1_check {
    position: relative;
    top: 5em;
    left: 14em;
}

#nein_1_check {
    position: relative;
    top: 5em;
    left: 18em;
}

#ja_1_p {
    position: relative;
    top: -1.7em;
    left: 10em;
    width: 2em;
}

#nein_1_p {
    position: relative;
    top: -4.0em;
    left: 14em;
    width: 3em;
}

#ankreuzen_text {
    position: relative;
    top: -1em;
    left: 1em;
}

#meds_text_1 {
    position: relative;
    top: 28em;
    left: 8.5em;
}

#meds_text_2 {
    position: relative;
    top: 27em;
    left: 8.5em;
}

#beschreibung_meds_1 {
    position: absolute;
    height: 4em;
    width: 26em;
    top: 39em;
    left: 10em;
}

#meds_text_3 {
    position: relative;
    top: 32em;
    left: 8.5em;
}

#meds_text_4 {
    position: relative;
    top: 31em;
    left: 8.5em;
}

#beschreibung_meds_2 {
    position: absolute;
    height: 4em;
    width: 26em;
    top: 49em;
    left: 10em;
}

.bg_infection {
    position: absolute;
    width: 22.3em;
    height: 6em;
    background: #FECB6F;
    top: 6.7em;
    left: 33.2em;
}

#ja_2_check {
    position: relative;
    top: 5em;
    left: 14em;
}

#nein_2_check {
    position: relative;
    top: 5em;
    left: 18em;
}

#ja_2_p {
    position: relative;
    top: -1.7em;
    left: 10em;
    width: 2em;
}

#nein_2_p {
    position: relative;
    top: -4.0em;
    left: 14em;
    width: 3em;
}

#infection_text {
    position: relative;
    top: -1em;
    left: 0.5em;
}

.bg_contact {
    position: absolute;
    width: 22.3em;
    height: 6em;
    background: #FECB6F;
    top: 14.3em;
    left: 33.2em;
}

#ja_3_check {
    position: relative;
    top: 5em;
    left: 14em;
}

#nein_3_check {
    position: relative;
    top: 5em;
    left: 18em;
}

#ja_3_p {
    position: relative;
    top: -1.7em;
    left: 10em;
    width: 2em;
}

#nein_3_p {
    position: relative;
    top: -4.0em;
    left: 14em;
    width: 3em;
}

#contact_text {
    position: relative;
    top: -1em;
    left: 0.5em;
}

.bg_beschwerden {
    position: absolute;
    width: 22.3em;
    height: 6em;
    background: #FECB6F;
    top: 22.3em;
    left: 33.2em;
}

#tage_1_check {
    position: relative;
    top: 5em;
    left: 9em;
}

#tage_2_check {
    position: relative;
    top: 5em;
    left: 16em;
}

#tage_3_check {
    position: relative;
    top: 5em;
    left: 20.5em;
}

#tage_1 {
    position: relative;
    top: -1.7em;
    left: 1em;
    width: 2em;
}

#tage_2 {
    position: relative;
    top: -1.75em;
    left: 2.5em;
    width: 3em;
}

#tage_3 {
    position: relative;
    top: -1.75em;
    left: 3.6em;
    width: 3em;
}

#beschwerden_text {
    position: relative;
    top: -1em;
    left: 0.5em;
}

.bg_termin {
    position: absolute;
    width: 22.3em;
    height: 6em;
    background: #FECB6F;
    top: 30.3em;
    left: 33.2em;
}

#ja_4_check {
    position: relative;
    top: 5em;
    left: 14em;
}

#nein_4_check {
    position: relative;
    top: 5em;
    left: 18em;
}

#ja_4_p {
    position: relative;
    top: -1.7em;
    left: 10em;
    width: 2em;
}

#nein_4_p {
    position: relative;
    top: -4.0em;
    left: 14em;
    width: 3em;
}

#termin_text {
    position: relative;
    top: -1em;
    left: 0.5em;
}

.link_senden_button {
    position: absolute;
    top: 43.8em;
    right: 15.9em;
    height: 5em;
    width: 17.2em;
}

#senden_button{
    position: absolute;
    top: 42em;
    right: 15em;
    height: 8em;
    width: 19em;
    opacity: 1;
}