#logobild{
    max-width:25%;
    max-height: 25%;
}
#login_button{
    max-width:10%;
    max-height: 10%;
}
#aktivieren_button{
    max-width:10%;
    max-height: 10%;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}




