body {font-family: the brooklyn;}
#logobild{
    max-width:25%;
    max-height: 25%;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#login_button{
    max-width: 19em;
    max-height: 7em;
}
input[type=text], input[type=password] {
    width: 23em;
    padding: 1em 1em;
    margin: 0em 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    right: 0em;
}
b{
    text-align:center;
    font-family:the brooklyn;
}
.center2{
    margin: auto;
    width: 16%;
    padding: 10px;
    display:block;
}
