p {
    font-family: the brooklyn;
    color: #434343;
}

.bg_체berschrift {
    float:left;
    width: 18em;
    height: 3em;
    opacity: 1;
    background: #FCCA45;
    position: absolute;
    top: 1em;
    left: 3em;
}

.bg_체berschrift p {
    position: relative;
    font-size: 1.5em;
    font-weight: lighter;
    top: -1em;
    left: 2em;
}

.passwort_daten {
    position: relative;
    top: 17em;
    left: 3em;
}

.passwort_daten input {
    position: relative;
    top: 1em;
    left: 13em;
    height: 3em;
    width: 21em;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    font-size: 1.5em;
}

.best채tigen {
    position: relative;
    top: 40em;
    left: 69.3em;
}

.best채tigen img {
    height: 7em;
    width: 19em;
}