.bottom_right {
    position: absolute;
    bottom: 8px;
    right: 16px;

}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#vorname{
    border-style: solid;
    border-width: medium;
    border-color: #CC8C15;
    border-radius: 5px;
    height: 40px;

}
#nachname{
    border-style: solid;
    border-width: medium;
    border-color: #CC8C15;
    border-radius: 5px;
    height: 40px;
}
#geburtstag{
    border-style: solid;
    border-width: medium;
    border-color: #CC8C15;
    border-radius: 5px;
    height: 40px;
}

#email{
    border-style: solid;
    border-width: medium;
    border-color: #CC8C15;
    border-radius: 5px;
    height: 40px;
}