.Patient strong {
    font-family: the brooklyn;
    color: dimgray;
    font-size: 24px;

}

.Patient p {
    font-family: the brooklyn;
    color: darkgray;
    font-size: 21px;
    margin-top: 12px;
    font-weight: lighter;
}

.bgFoto {
    float: right;
    position: absolute;
    border-radius: 100%;
    background: #97C1AB;
    top: 10px;
    right: 10px;
}

.Patientenfoto {
    position: relative;
    top: -7px;
    right: 0px;
}

.Hintergrund {
    float:left;
    width: 250px;
    height: 350px;
    opacity: 1;
}

.Hintergrund img{
    width: 170px;
    height: 170px;
    position: relative;
    top: 7px;
    left: 42px;
}

.Hintergrund button {
    font-family: the brooklyn;
    font-size: 16px;
    border-radius: 12px;
    background-color: aliceblue;
    cursor: pointer;
    position: relative;
}

#formular {
    top: 48px;
    left: 2px;
    padding: 30px 43px;
}

#akte {
    top: 48px;
    left: 1px;
    padding: 30px 35px;
}

#bgFormular {
    top: 8em;
    left: 2%;
    float: left;
    display: inline;
    margin-right: 20px;
    background: #CC8C15;
    width: 16em;
    height: 22em;
    position: relative;
}

#bgAkte {
    top: 8em;
    left: 5%;
    float: left;
    display: inline;
    margin-left: 20px;
    background: #3D9599;
    height: 22em;
    width: 16em;
    position: relative;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    right: -75em;
    top: 4em;
    position: relative;
    width: 8em;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: #CC8C15;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    right: -76em;
    top: 4em;
    position: relative;
    width: 8em;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: -74em;
    top: 4em;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3D9599;
}
