body {font-family: the brooklyn;}
.bottom_right {
    position: relative;
    bottom: 8em;
    top: 29em;
    right: -117em;

}
.kopf{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    max-width: 10em;
    max-height: 10em;
    position: relative;
    top: -24em;
}


.oberkörper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 18em;
    position:relative;
    top: -24em;
}
.beine{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 8em;
    position: relative;
    top: -30em;
}
.rechte_hand {
    top: -416em;
    right: -781em;
    height: 97em;
}
.linke_hand{
    position: relative;
    right: -955em;
    top: -410em;
    height: 102em;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.notizblock{
    position: relative;
    right: -112em;
    top: -80em;
    height: 13em;

}
#gehirn{
    position: relative;
    top: -72em;
    right: -2em;
    height: 6em;
}

#herz{
    position: relative;
    top: -77em;
    right: -23em;
    height: 5.5em;
}
#lunge{
    position: relative;
    top: -73em;
    right: -2em;
    height: 5.5em;
}
#nieren{
    position: relative;
    right: -24em;
    top: -79em;
    height: 5.6em;
}
#gehrindaten{
    border-style: solid;
    border-width: medium;
    border-color: #A69376;
    border-radius: 5px;
    height: 45px;
    position: relative;
    top: -86em;
    right: -1em;
}

#herzdaten{
    border-style: solid;
    border-width: medium;
    border-color: #26B6C4;
    border-radius: 5px;
    height: 45px;
    position: relative;
    top: -97em;
    right: -26em;
}
#lungendaten{
    border-style: solid;
    border-width: medium;
    border-color: #26B6C4;
    border-radius: 5px;
    height: 45px;
    position: relative;
    top: -86em;
    right: -1em;
}

#nierendaten {
    border-style: solid;
    border-width: medium;
    border-color: #C54142;
    border-radius: 5px;
    height: 45px;
    position: relative;
    top: -97em;
    right: -27em;
}
.patientennotiz{
    position: relative;
    top: -74em;
    right: -112em;
}
#p{
    position: relative;
    top: -6em;
    right: -22em;
    font-size: 5em;
}