body {font-family: the brooklyn;}
.bottom_right {
    position: absolute;
    bottom: 8px;
    right: 16px;

}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#vorname{
    border-style: solid;
    border-width: medium;
    border-color: #D8C5A4;
    border-radius: 5px;
    height: 45px;

}
#nachname{
    border-style: solid;
    border-width: medium;
    border-color: #D8C5A4;
    border-radius: 5px;
    height: 45px;
}
#geburtstag{
    border-style: solid;
    border-width: medium;
    border-color: #D8C5A4;
    border-radius: 5px;
    height: 45px;
}

#email{
    border-style: solid;
    border-width: medium;
    border-color: #D8C5A4;
    border-radius: 5px;
    height: 45px;
}
.position_female_button{
    position:relative;
    top: -6px;
    right: -126px;
}
.maskulin_position_button{
    position: relative;
    top: 134px;
}
.position_gemischt_button{
    position: relative;
    right: -254px;
    top:-164px;
}
p{
    color: darkgray;
    position: relative;
    top:110px;
    font-size: larger;
}

