body {font-family: the brooklyn;}
.bottom_right {
    position: relative;
    bottom: 8em;
    top: 29em;
    right: -117em;

}
#kopf{

    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 10em;
    max-height: 10em;
    position: relative;
    top: -23.5em;
    right: -66em;
    border: none;
    background: none;


}


#oberkörper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 18em;
    position: relative;
    top: -24em;
    border: none;
    background: none;
    right: -0.8em;
}
#beine{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 8em;
    position: relative;
    top: -30em;
    border: none;
    background: none;
    right: -0.5em;
}
.rechte_hand {
    top: -416em;
    right: -781em;
    height: 97em;
}
.linke_hand{
    position: relative;
    right: -955em;
    top: -410em;
    height: 102em;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.notizblock{
    position: relative;
    right: -112em;
    top: -50em;
    height: 13em;

}
#gehirn{
    position: relative;
    top: -66em;
    right: -2em;
    height: 6em;
    display:none;
}

#herz{
    position: relative;
    top: -72em;
    right: -23em;
    height: 5.5em;
    display:none;
}
#lunge{
    position: relative;
    top: -57em;
    right: -2em;
    height: 5.5em;
    display:none;
}
#nieren{
    position: relative;
    right: -24em;
    top: -63em;
    height: 5.6em;
    display:none;
}
#gehrindaten{
    border-style: solid;
    border-width: medium;
    border-color: #A69376;
    border-radius: 5px;
    height: 45px;
    position: relative;
    top: -81em;
    right: -1em;
}

#herzdaten{
    border-style: solid;
    border-width: medium;
    border-color: #26B6C4;
    border-radius: 5px;
    height: 45px;
    position: relative;
    top: -92em;
    right: -26em;
}
#lungendaten{
    border-style: solid;
    border-width: medium;
    border-color: #26B6C4;
    border-radius: 5px;
    height: 45px;
    position: relative;
    top: -83em;
    right: -1em;
}

#nierendaten {
    border-style: solid;
    border-width: medium;
    border-color: #C54142;
    border-radius: 5px;
    height: 45px;
    position: relative;
    top: -94em;
    right: -27em;
}
.patientennotiz{
    position: relative;
    top: -76em;
    right: -112em;
}
#p{
    position: relative;
    top: -6em;
    right: -22em;
    font-size: 5em;
}




