body {font-family: the brooklyn;}
.bottom_right {
    position: relative;
    bottom: -30em;
    right: -125em;
    max-width: 20em;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#vorname{
    border-style: solid;
    border-width: medium;
    border-color: #D8C5A4;
    border-radius: 1em;
    height: 4em;

}
#nachname{
    border-style: solid;
    border-width: medium;
    border-color: #D8C5A4;
    border-radius: 1em;
    height: 4em;
}
#geburtstag{
    border-style: solid;
    border-width: medium;
    border-color: #D8C5A4;
    border-radius: 1em;
    height: 4em;
}

#email{
    border-style: solid;
    border-width: medium;
    border-color: #D8C5A4;
    border-radius: 1em;
    height: 4em;;
}
.position_female_button{
    position:relative;
    top: -13em;
    right: -11em;
}
.maskulin_position_button{
    position: relative;
    top: -2em;
}
.position_gemischt_button{
    position: relative;
    right: -21em;
    top: -25em;
}
p{
    color: darkgray;
    position: relative;
    top:-3em;
    font-size: larger;
}
#patient_anlegen{
    max-width: 20em;
}

